/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

:root {
  --panel-size: calc(550px / 100vw);
  --menu-item-height: calc(140px / 100vh);
  --animation-transition: transform 300ms cubic-bezier(0.86, 0, 0.07, 1);
  --color-light-grey: #f7f7f7;
  --color-light-purple: #edebf3;
  --color-light-grey: #ededed;
  --color-primary-blue: #0078c8;
  --dark-100: #3c3c3c;
  --dark-70: #3c3c3cb3;
  --menu-transform: translateX(var(--panel-size));
  --menu-close-size: 40px;
  --nav-flex-content: space-between;
  --container-width: 100%;
  --featured-item-direction: column;
  --featured-item-direction-reverse: column;
  --universal-spacing: calc(8px + 1.5625vw);
  --font-size-h1: 38px;
  --line-height-h1: 40px;
  --menu-burger-size: 50px;
}

@media (min-width: 48em) {
  :root {
    --menu-close-size: 30px;
    --panel-size: 550px;
    --container-width: 1110px;
    --featured-item-direction: row;
    --featured-item-direction-reverse: row-reverse;
    --nav-flex-content: flex-start;
    --font-size-h1: 56px;
    --line-height-h1: 64px;
    --menu-burger-size: 40px;
  }
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 38px;
  font-weight: normal;
  letter-spacing: -0.5px;
  padding: var(--universal-spacing);
}

h2 {
  font-size: 48px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: normal;
}

.large {
  font-size: 18px;
}

.default {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Montserrat;
}

html,
body {
  height: 100%;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: var(--nav-flex-content);
      -ms-flex-pack: var(--nav-flex-content);
          justify-content: var(--nav-flex-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
}

.menu-burger {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  margin: 0 var(--universal-spacing);
  position: relative;
  z-index: 2;
}

.menu-burger::before,
.menu-burger::after {
  content: "";
  width: var(--menu-burger-size);
  height: 1px; /* cross thickness */
  background-color: black;
}

.menu-panel {
  width: var(--panel-size);
  padding: var(--universal-spacing);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  -webkit-transition: var(--animation-transition);
  -o-transition: var(--animation-transition);
  transition: var(--animation-transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-overlay {
  content: "";
  background-color: var(--dark-100);
  opacity: 50%;
  position: absolute;
  top: 0;
  left: -100vw;
  height: 100%;
  display: block;
  width: 100vw;
  z-index: -1;
}

.menu-panel.hidden {
  opacity: 0;
  -webkit-transform: var(--menu-transform);
      -ms-transform: var(--menu-transform);
          transform: var(--menu-transform);
  -webkit-transition: var(--animation-transition);
  -o-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

.menu-panel.hidden > .menu-overlay {
  display: none;
}

.menu-close-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--universal-spacing);
}

.menu-close-title {
  width: 100%;
  text-align: center;
  margin: 0;
}

.menu-close {
  position: relative;
  border: none;
  background-color: transparent;
  width: var(--menu-close-size);
  height: var(--menu-close-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.menu-close::before,
.menu-close::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px; /* cross thickness */
  background-color: black;
}

.menu-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-item-text {
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu-text-title {
  color: var(--dark-100);
  font-size: var(--ne-headings-scale);
}

.menu-text-description {
  color: var(--dark-70);
  font-size: var(--ne-body-font-size);
}

.menu-item-container {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: var(--menu-item-height);
}

.menu-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 3fr 1em 0.5fr;
  grid-template-columns: 1fr 3fr 0.5fr;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.menu-item:hover::after {
  -webkit-transform: scale(1.2) translateX(10px);
      -ms-transform: scale(1.2) translateX(10px);
          transform: scale(1.2) translateX(10px);
  -webkit-transition: var(--animation-transition);
  -o-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

.menu-item::after {
  content: "";
  height: 20px;
  width: 20px;
  background: url("./assets/Right Arrow.svg") no-repeat;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: var(--animation-transition);
  -o-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

.menu-item-icon {
  margin-right: 20px;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid var(--dark-100);
}

.logo {
  background-image: url("./assets/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  margin: var(--universal-spacing);
  min-width: 150px;
  min-height: 60px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(var(--universal-spacing) * 5);
  padding: var(--universal-spacing);
  text-align: center;
}

.header-products {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--featured-item-direction);
          flex-direction: var(--featured-item-direction);
  max-width: 80em;
  gap: 1rem;
}

.header-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 360px;
  border: 1px solid var(--color-light-grey);
}

.header-product-image {
  background-repeat: no-repeat;
  height: 96px;
  width: 96px;
}

.product-domain {
  background-image: url("./assets/Domain.svg");
}

.product-build {
  background-image: url("./assets/Website Builder.svg");
}

.product-grow {
  background-image: url("./assets/Stats.svg");
}

.featured {
  background-color: var(--color-light-purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--featured-item-direction);
          flex-direction: var(--featured-item-direction);
  padding: 10em 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: var(--container-width);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cover {
  max-width: 100%;
  padding: 0 5%;
}

.content {
  max-width: 540px;
  max-height: 450px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.featured-item.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: var(--featured-item-direction-reverse);
          flex-direction: var(--featured-item-direction-reverse);
}

.featured-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: var(--featured-item-direction);
          flex-direction: var(--featured-item-direction);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help {
  background-color: var(--color-light-grey);
}

.cta {
  background-color: transparent;
  border: 1px solid var(--color-primary-blue);
  color: var(--color-primary-blue);
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 100px;
  margin-top: 30px;
}

.cta-fill {
  color: white;
  background-color: var(--color-primary-blue);
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
}