:root {
  --panel-size: 100%;
  --padding-menu-item: 10px 0;
  --transition: transform 300ms cubic-bezier(0.86, 0, 0.07, 1);
  --body-font-size: 1rem;
  --headings-scale: 1.125;
  --light-grey: #f7f7f7;
  --light-purple: #edebf3;
  --border-light-grey: #ededed;
  --primary-blue: #0078c8;
  --dark-100: rgba(60, 60, 60, 1);
  --dark-70: rgba(60, 60, 60, 0.7);
  --menu-transform: translateX(var(--panel-size));
  --menu-close-size: 100px;
  --container-width: 100%;
  --featured-item-direction: column;
  --featured-item-direction-reverse: column;
}

@media (width >= 48em) {
  :root {
    --menu-close-size: 40px;
    --panel-size: 550px;
    --body-font-size: 0.8rem;
    --headings-scale: 1.2;
    --container-width: 1110px;
    --featured-item-direction: row;
    --featured-item-direction-reverse: row-reverse;
  }
}

@media (width >= 100em) {
  :root {
    --padding-menu-item: 35px 0;
  }
}

h1 {
  font-size: 61px;
  font-weight: normal;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 48px;
  font-weight: normal;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: normal;
}

h6 {
  font-size: 18px;
}

.large {
  font-size: 18px;
}

.default {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: unset;
}

.small {
  font-size: 14px;
}

caption {
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Montserrat;
}

html,
body {
  height: 100%;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 1% 0;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}


.menu-burger {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin: 0 2em;
}

.menu-burger::before, .menu-burger::after {
  content: '';
  width: 30px;
  height: 1px; /* cross thickness */
  background-color: black;
}

/* 
.menu-burger {
  margin: 3em;
  z-index: 1;
  height: 16px;
  width: 32px;
  border: none;
  border-top: 1px solid var(--dark-100);
  border-bottom: 1px solid var(--dark-100);
  cursor: pointer;
  background-color: transparent;
} */

.menu-panel {
  width: var(--panel-size);
  padding: 5%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-overlay {
  content: "";
  background-color: var(--dark-100);
  opacity: 50%;
  position: absolute;
  top: 0;
  left: -100vw;
  height: 100%;
  display: block;
  width: 100vw;
  z-index: -1;
}

.menu-panel.hidden {
  transform: var(--menu-transform);
  transition: var(--transition);
}

.menu-panel.hidden > .menu-overlay {
  display: none;
}

.menu-close {
  position: absolute;
  top: 2rem;
  right: 4rem;
  border: none;
  background-color: transparent;
  width: var(--menu-close-size);
  height: var(--menu-close-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.menu-close::before, .menu-close::after {
  position: absolute;
    content: '';
    width: 100%;
    height: 1px; /* cross thickness */
    background-color: black;
}

.menu-close::before {
  transform: rotate(45deg);
}

.menu-close::after {
  transform: rotate(-45deg);
}

.menu-item-text {
  max-width: 18ch;
}

.menu-text-title {
  color: var(--dark-100);
  font-size: var(--ne-headings-scale);
}

.menu-text-description {
  color: var(--dark-70);
  font-size: var(--ne-body-font-size);
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-menu-item);
  position: relative;
}

.menu-item::after {
  content: "";
  right: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("./assets/Right Arrow.svg") no-repeat;
}

.menu-item-icon {
  margin-right: 20px;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid var(--dark-100);
}

.logo {
  background-image: url("./assets/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  min-width: 150px;
  min-height: 60px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 0;
  text-align: center;
}

.header-products {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  max-width: 80em;
  gap: 1rem;
}

.header-product {
  display: flex;
  flex-direction: column;
  padding: 3em;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  border: 1px solid var(--border-light-grey);
  /* background-color: aqua; */
}

.header-product-image {
  background-repeat: no-repeat;
  height: 96px;
  width: 96px;
}

.product-domain {
  background-image: url("./assets/Domain.svg");
}

.product-build {
  background-image: url("./assets/Website Builder.svg");
}

.product-grow {
  background-image: url("./assets/Stats.svg");
}

.featured {
  background-color: var(--light-purple);
  display: flex;
  flex-direction: column;
  padding: 10em 5em;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--container-width);
  flex-direction: column;
}

.cover  {
  max-width: 100%;
  padding: 0 5%;
}

.content {
  max-width: 540px;
  max-height: 450px;
  align-self: center;
}

.featured-item.reverse {
  flex-direction: var(--featured-item-direction-reverse);
}

.featured-item {
  display: flex;
  flex-direction: var(--featured-item-direction);
  justify-content: space-between;
}

.help {
  background-color: var(--light-grey);
}

.cta {
  background-color: transparent;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 100px;
  margin-top: 30px;
}

.cta-fill {
  color: white;
  background-color: var(--primary-blue);
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 100px;
  border: none;
  margin-top: 30px;
}




/* 
EXPLORE CSS GRID
.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 5; }
  .div2 { grid-area: 2 / 2 / 3 / 5; }
  .div3 { grid-area: 3 / 2 / 4 / 5; }
  .div4 { grid-area: 4 / 2 / 5 / 5; }
  .div5 { grid-area: 5 / 2 / 6 / 5; }
   */